In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
import numpy as np


dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df.sample(15)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
568422,Data Scientist,Data Science Internship,"Richmond, VA",via BeBee,Internship,False,Georgia,2023-10-17 09:42:14,False,True,United States,None,NaN,NaN,Experian,"['python', 'scala', 'aws', 'spark']","{'cloud': ['aws'], 'libraries': ['spark'], 'pr..."
642779,Data Analyst,Sales Project Coordinator and Data Analyst,"Farmington, CT",via LinkedIn,Full-time,False,"New York, United States",2023-02-16 12:00:40,True,False,United States,None,NaN,NaN,TRUMPF North America,None,None
702071,Data Analyst,Workday Data Analyst,United Kingdom,via BeBee,Full-time,False,United Kingdom,2023-10-05 03:11:04,True,False,United Kingdom,None,NaN,NaN,Oakleaf Partnership,"['go', 'excel']","{'analyst_tools': ['excel'], 'programming': ['..."
58254,Data Analyst,Sr Data Analyst,"Lima, Peru","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Peru,2023-08-26 06:38:06,True,False,Peru,None,NaN,NaN,Emprego,['sql'],{'programming': ['sql']}
527323,Senior Data Engineer,Senior Data Engineer - H/F,"Paris, France",via Jobijoba,Full-time,False,France,2023-01-01 11:39:48,True,False,France,None,NaN,NaN,Iliad,"['rust', 'go', 'linux', 'kubernetes']","{'os': ['linux'], 'other': ['kubernetes'], 'pr..."
275402,Data Scientist,Database Engineer,"San José Province, San José, Costa Rica","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Costa Rica,2023-08-20 07:52:06,True,False,Costa Rica,None,NaN,NaN,Udersol,"['sql', 'postgresql']","{'databases': ['postgresql'], 'programming': [..."
189582,Data Engineer,"Data Engineer databases, SQL en Data Warehousing","Utrecht, Netherlands",via Indeed,None,False,Netherlands,2023-06-05 15:36:39,False,False,Netherlands,None,NaN,NaN,Caesar,"['sql', 'c', 'oracle', 'ssis', 'power bi', 'dax']","{'analyst_tools': ['ssis', 'power bi', 'dax'],..."
563004,Senior Data Engineer,Senior Data Engineer,United States,via Indeed,Full-time,False,"California, United States",2023-08-20 04:07:01,False,False,United States,None,NaN,NaN,Motion Recruitment,"['python', 'sql', 'snowflake', 'phoenix']","{'cloud': ['snowflake'], 'programming': ['pyth..."
131793,Data Scientist,Data Scientist,"San Antonio, TX",via BeBee,Full-time,False,"Texas, United States",2023-06-30 08:06:23,False,True,United States,None,NaN,NaN,Guidehouse,"['sql', 'python', 'r', 'tableau', 'qlik', 'git...","{'analyst_tools': ['tableau', 'qlik'], 'other'..."
495474,Cloud Engineer,Power Platform Administrator,Austria,via Jobs Trabajo.org,Full-time,False,Austria,2023-10-07 11:21:02,True,False,Austria,None,NaN,NaN,Unitywater Power Platform Administrator Unityw...,None,None
490267,Data Engineer,Data Engineer,United Kingdom,via BeBee,Full-time,False,United Kingdom,2023-09-27 11:11:13,False,False,United Kingdom,None,NaN,NaN,CleverTech,"['azure', 'databricks', 'spark', 'graphql', 't...","{'analyst_tools': ['tableau', 'power bi'], 'cl..."
658328,Data Scientist,Remote Associate Data Scientist,"Phoenix, AZ",via Trabajo.org,Full-time,False,"California, United States",2023-10-19 10:24:12,False,True,United States,None,NaN,NaN,American Express,"['sql', 'python', 'r', 'oracle', 'express', 't...","{'analyst_tools': ['tableau', 'power bi'], 'cl..."
508373,Data Scientist,"Senior Associate, Data Science - People Analytics","New York, NY (+2 others)",via The Muse,Full-time,False,"New York, United States",2023-08-23 11:02:51,False,True,United States,None,NaN,NaN,Capital One,"['python', 'scala', 'r', 'sql', 'aws']","{'cloud': ['aws'], 'programming': ['python', '..."
274065,Data Engineer,Software Data Engineer (Remote contractor),United States,via Professional Diversity Network,Contractor,False,"California, United States",2023-08-30 07:08:26,False,False,United States,None,NaN,NaN,Inovalon,"['sql', 't-sql', 'aws', 'azure', 'ssis', 'word...","{'analyst_tools': ['ssis', 'word', 'excel', 'o..."
94722,Data Engineer,"Data Engineer - Up to SGD $250,000 + Bonus - H...",Singapore,via LinkedIn,Full-time,False,Singapore,2023-03-28 00:41:08,False,False,Singapore,None,NaN,NaN,Hunter Bond,['python'],{'programming': ['python']}

In [4]:
df.index

RangeIndex(start=0, stop=785741, step=1)

In [5]:
df.index.name = 'id'

In [6]:
df.index.dtype

dtype('int64')

## Methods to cover
- df.reset_index()
- df.set_index()
- df.sort_index()

In [7]:
df_nig = df[df['job_country'] == 'Nigeria']

df_nig = df_nig.drop_duplicates(subset= ['job_title', 'company_name'])

In [8]:
df_nig.reset_index(inplace= True)

In [9]:
df_nig.set_index('id', inplace= True)

In [10]:
df_nig[df_nig['salary_rate'].isna() == False]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
id,,,,,,,,,,,,,,,,,
78381,Data Analyst,"Human Resources Data Analyst, Dangote Cement T...","Obajana, Nigeria",via Ai-Jobs.net,Full-time,False,Nigeria,2023-09-02 00:43:27,False,False,Nigeria,year,100500.0,NaN,Dangote Group,"['sql', 'javascript', 'sas', 'sas', 'excel', '...","{'analyst_tools': ['sas', 'excel', 'spss'], 'p..."
95214,Business Analyst,BI Analyst,"Lagos, Nigeria",via Ai-Jobs.net,Full-time,False,Nigeria,2023-02-24 00:35:42,False,False,Nigeria,year,63000.0,NaN,Kuda Technologies Ltd,"['sql', 'aws', 'azure', 'bigquery', 'gdpr', 'l...","{'analyst_tools': ['looker', 'tableau'], 'clou..."
166888,Data Scientist,Jr. Data Scientist,Anywhere,via RemoteJobs.org,Full-time,True,Nigeria,2023-12-15 15:43:48,False,False,Nigeria,year,125000.0,NaN,Kojo,"['python', 'sql', 'go', 'azure', 'aws', 'gcp',...","{'cloud': ['azure', 'aws', 'gcp'], 'other': ['..."
198573,Business Analyst,"Analyst – Business Analytics Visualisation, Ma...",Nigeria,via Legitjob.website,Full-time,False,Nigeria,2023-06-20 15:17:14,False,False,Nigeria,year,100000.0,NaN,"MTN Recruitment [year], Job Vacancies & Career...",None,None
357444,Data Engineer,Data Engineer,"Lagos, Nigeria",via Crossover,Full-time and Contractor,False,Nigeria,2023-09-30 23:46:06,True,False,Nigeria,hour,NaN,15.0,Crossover,"['python', 'javascript']","{'programming': ['python', 'javascript']}"
399244,Data Analyst,Data Analytics & Insights Officer,"Lagos, Nigeria",via Ai-Jobs.net,Full-time,False,Nigeria,2023-07-18 19:15:12,True,False,Nigeria,year,44100.0,NaN,Standard Bank Group,"['sql', 'sql server', 'oracle', 'power bi', 's...","{'analyst_tools': ['power bi', 'sap'], 'cloud'..."
437247,Business Analyst,"Head, Research and Innovation",Anywhere,via Y Combinator,Full-time,True,Nigeria,2023-01-27 16:36:41,False,False,Nigeria,year,110000.0,NaN,Vendease,"['javascript', 'sas', 'sas', 'postgresql', 'el...","{'analyst_tools': ['sas', 'tableau', 'power bi..."
537048,Data Analyst,Data Analyst - Operations,"Lagos, Nigeria",via Ai-Jobs.net,Full-time,False,Nigeria,2023-03-27 19:31:35,False,False,Nigeria,year,98500.0,NaN,Kuda Technologies Ltd,"['sql', 'aws', 'azure', 'bigquery', 'gdpr', 'l...","{'analyst_tools': ['looker', 'tableau'], 'clou..."
610994,Software Engineer,Senior Software Engineer Opportunities at Heli...,Anywhere,via Y Combinator,Full-time,True,Nigeria,2023-03-22 12:35:57,True,False,Nigeria,year,54000.0,NaN,Helium Health,"['elixir', 'python']","{'programming': ['elixir', 'python']}"
774264,Data Scientist,Head of Data and Research Methods Unit,"Ibadan, Nigeria",via Ai-Jobs.net,Full-time,False,Nigeria,2023-07-19 02:15:12,False,False,Nigeria,year,166419.5,NaN,IITA,"['r', 'python', 'html', 'java', 'github', 'atl...","{'other': ['github', 'atlassian'], 'programmin..."
777877,Business Analyst,Senior Business Intelligence Engineer,"Lagos, Nigeria",via Ai-Jobs.net,Full-time,False,Nigeria,2023-06-01 05:31:32,False,False,Nigeria,year,99150.0,NaN,Lemonade Finance,"['sql', 'bigquery', 'redshift', 'tableau']","{'analyst_tools': ['tableau'], 'cloud': ['bigq..."